.wrapper {
    flex-direction: column !important;
    align-items: center !important;
}

.breadcrumbs {
    padding-right: 30px;
}

.icon {
    padding: 20px ;
    background-color: #01e281 ;
    border-radius: 50% ;
    font-size: 40px ;
    color: white;
}
.icon, .featureTitle {
    transition: color .3s, background-color .3s !important;
}
.feature:hover .icon {
    color: #01e281 !important;
    background-color: #e5fcf2 !important;
}
.feature:hover .featureTitle {
    color: #01e281 !important;
}