.product {
    position: relative !important;
    display: flex;
    justify-content: center !important;
    width: 100%;
}

.product:hover .productTitle {
    color: #01e281!important;
}

.product:hover .button1 {
    opacity: 1 !important;
}

.closeIconWrapper {
    position: absolute !important;
    right: -20px;
    z-index: 11;
}
.closeIcon {
    color: white;
    background-color: red;
    transition: color .3s, background-color .3s !important;
}
.closeIcon:hover {
    color: red;
}

.productOption {
    display: flex;
    flex-direction: column;
    align-items: end !important;
    position: absolute;
    top: 5px;
    left: 15px;
    backdrop-filter: blur(2px);
}
.POTitle {
    padding: 5px 10px;
}

.button1 {
    width: 90%;
    background-color: #01e281;
    height: 40px;
    opacity: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.4s, opacity .3s ease !important;
    margin-top: -20px;
    position: absolute !important;
    bottom: -20px !important;
}

.button1Text {
    color: #122d40;
    font-size: 18px;
    transition: color .4s;
}

.button1:hover .button1Text {
    color: #01e281;
}

.button1:hover {
    background-color: #122d40 !important;
}

.button1Wrapper {
    width: 22%;
    height: 40px;
}

.love {
    width: fit-content;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 10px 0;
    border: none;
    background: none;
}

.button {
    border: none;
    background: none;
    cursor: pointer;
}

.love:hover .icon {
    border: #01e281 solid 1px;
    color: #01e281;
}

.icon {
    font-size: 15px;
    color: #122d40;
    border: #122d40 solid 1px;
    border-radius: 100%;
    padding: 10px;
    transition: color .3s, border .3s;
}

.icon:hover {
    border: #01e281 solid 1px;
    color: #01e281;
}