.offItemsWrapper {
    display: flex;
    height: 43vh;
    top: 213px!important;
}

.offItemsWrapper1 {
    background: transparent !important;
    border-radius: 10px!important;
    z-index: 1500;
    top: 0!important;
    left: 80px!important;
}

.offItemsWrapper1 ul {
    padding: 0;
    border-radius: 23px;
    background: none;
}
